<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/views/style.css">
        <title>Welcome</title>
    </head>
<body>
    <div>
        <h1>Welcome to Instagrammy</h1>
        <div>
            <input type="button" onclick="location.href='/image/createView'" value="upload Image">
            <input type="button" onclick="location.href='/image/display'" value="display Images">
        </div>
    </div>
</body>
</html>